---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

import Blob from '@/components/Blob.astro'
import { Languages, useTranslations } from '@/i18n'
import aboutMe from '@/images/About_me.jpg'

const t = useTranslations(Astro.currentLocale as Languages)
const relativeLocaleUrl = Astro.currentLocale === Languages.French ? '/' : `/${Astro.currentLocale}`
---

<section id="about" class="has-blob">
    <div class="about-container">
        <Image data-aos="fade-up" class="image" src={aboutMe} alt="Mathis Engels" />
        <div data-aos="fade-up" data-aos-delay="500" class="text-container">
            <h2 class="text-xl font-medium">{t('aboutMe.title')}</h2>
            <p set:html={t('aboutMe.text')} />
            <div class="links">
                <a href={relativeLocaleUrl + '#contact'}><Icon class="size-8" name="mail" /></a>
                <a target="_blank" href="https://linkedin.com/in/mathisengels"><Icon class="size-8" name="linkedin" /></a>
                <a target="_blank" href="https://github.com/MathisEngels"><Icon class="size-8" name="github" /></a>
            </div>
        </div>
    </div>
    <Blob blobClass="top-1/2 left-1/2 scale-[1.1]" colors={['#82c7a6', '#693e16', '#956437']} />
</section>

<style>
    #about {
        @apply relative flex items-center justify-center min-h-screen;

        .about-container {
            @apply flex flex-col;
            @apply md:flex-row max-w-[1000px];

            .image {
                @apply rounded-3xl z-10 h-full shadow-md shadow-stone-800/50;
                @apply md:w-[90%] md:-ml-[10%];
            }

            .text-container {
                @apply relative -mt-6 m-4 p-6 flex flex-col gap-4 bg-yellow-800 rounded-3xl z-10 shadow-lg shadow-stone-800/50;
                @apply md:-ml-[20%] md:my-auto md:min-w-[300px] md:max-w-[500px];

                .links {
                    @apply flex gap-2 self-end;

                    a {
                        @apply p-2 rounded transition-all hover:bg-gray-400/20;
                    }
                }
            }
        }

        .blob {
            border-radius: 42% 58% 58% 42% / 30% 30% 70% 70%;
        }
    }
</style>
