<footer class="pb-14 md:pb-0">
    <div class="h-[1px] w-full bg-gray-400"></div>
    <div class="grid grid-cols-3 gap-4 text-sm items-center">
        <p class="text-xs text-left">Made with <a class="hover:underline" href="https://astro.build/">Astro</a>.</p>
        <p class="text-center">Mathis Engels</p>
        <p class="text-xs text-right">Je ne collecte pas vos informations personnelles. J’utilise <a  class="hover:underline" href="https://plausible.io/">Plausible</a> pour avoir obtenir des données.</p>
    </div>
</footer>
<style lang="scss">
    footer {
        p {
            @apply p-2
        }
    }
</style>