---
import Blob from '@/components/Blob.astro'
import { Languages, useTranslations } from '@/i18n'

export type Status = 'available' | 'open' | 'busy'
interface Props {
    status: Status
}
const { status } = Astro.props

const t = useTranslations(Astro.currentLocale as Languages)

const statusMap: Record<Status, { color: string; text: string }> = {
    available: { color: 'bg-green-500', text: t('hero.status.available') },
    open: { color: 'bg-yellow-500', text: t('hero.status.open') },
    busy: { color: 'bg-red-500', text: t('hero.status.busy') },
}
const statusInfo = statusMap[status]
---

<section id="hero" class="relative min-h-screen flex flex-col items-center justify-center">
    <div class="flex flex-col gap-2 py-24 h-full justify-center">
        <h3 data-aos="fade" data-aos-delay="1000" class="text-xl">{t('hero.hi')}</h3>
        <div class="flex flex-col gap-4 max-md:max-w-80">
            <h1 data-aos="fade-up" class="text-8xl -ml-2">Mathis Engels</h1>
            <h2 data-aos="fade" data-aos-delay="1000" class="text-lg">{t('hero.description')}</h2>
        </div>
        <div data-aos="fade" data-aos-delay="2000" class="availability">
            {
                statusInfo && (
                    <>
                        <div class={`size-2 ${statusInfo.color} rounded-full animate-pulse`} />
                        {statusInfo.text}
                    </>
                )
            }
        </div>
    </div>
    <Blob blobClass="top-1/2 left-[60%]" colors={['#bc5ad5', '#43428f', '#262987']} animateFunction="blob-animation" />
</section>

<style lang="scss">
    .availability {
        @apply flex w-fit justify-center items-center gap-2 py-1 px-3 rounded-full bg-clip-padding backdrop-filter backdrop-blur-md ring-2 ring-neutral-400/75 bg-neutral-400/25 mt-4;
    }

    @keyframes blob-animation {
        0% {
            border-radius: 42% 58% 58% 42% / 30% 30% 70% 70%;
            rotate: -5deg;
            scale: 1.1;
        }
        50% {
            translate: -10% 0%;
            rotate: -10deg;
            border-radius: 51% 49% 28% 72% / 53% 58% 42% 47%;
        }
        100% {
            rotate: 25deg;
            border-radius: 46% 37% 25% 41% / 42% 52% 17% 58%;
            scale: 0.9;
        }
    }
</style>
