---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import BasicLayout from './BasicLayout.astro'

interface Props {
    navbarListen?: boolean
}

const { navbarListen = true } = Astro.props
---

<BasicLayout>
    <Header navbarListen={navbarListen} />
    <main>
        <slot />
    </main>
    <Footer />
</BasicLayout>

<style>
    main {
        @apply md:-mt-12 px-4 overflow-hidden;
    }
</style>
