---
import '@fontsource-variable/montserrat'
import { SEO } from 'astro-seo'
import Analytics from '../components/Analytics.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
import 'aos/dist/aos.css'

interface Props {
    navbarListen?: boolean
}

const { navbarListen = true } = Astro.props;

const title = 'Mathis Engels | Développeur Full-Stack'
const description =
    "Bienvenue sur le portfolio de Mathis Engels, développeur Full-Stack passionné par le web et les nouvelles technologies. J'utilise des technologies modernes pour créer des applications web performantes tel que React, Next.js, Astro, TailwindCSS, et bien d'autres. Venez en apprendre plus sur moi et mes projets ! N'hésitez pas à me contacter pour discuter de vos projets ou pour toute autre question."
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: 'website',
                    image: 'https://mathisengels.fr/og-image.webp',
                },
                optional: {
                    description: description,
                },
            }}
        />
        <Analytics />
    </head>
    <body>
        <Header navbarListen={navbarListen} />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    :root {
        font-family: 'Montserrat Variable', sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        scroll-behavior: smooth;
    }
    body {
        @apply bg-primary min-h-screen text-white;
    }

    main {
        @apply md:-mt-12 px-4 overflow-hidden;
    }
</style>

<script>
    import AOS from 'aos'

    const initAOS = () => {
        AOS.init({
            duration: 1000,
            disable: (
                /bot|crawler|spider|crawling/i.test(navigator.userAgent)
                || window.matchMedia("(prefers-reduced-motion: reduce)").matches
            ),
        })
    }
    
    initAOS();
</script>